@font-face {
  font-family: "iconfont"; /* Project id 2659669 */
  src: url('iconfont.eot?t=1625816580255'); /* IE9 */
  src: url('iconfont.eot?t=1625816580255#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1625816580255') format('woff2'),
       url('iconfont.woff?t=1625816580255') format('woff'),
       url('iconfont.ttf?t=1625816580255') format('truetype'),
       url('iconfont.svg?t=1625816580255#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-3-2d:before {
  content: "\e61a";
}

.icon-juliceliang:before {
  content: "\e604";
}

.icon-guanbi:before {
  content: "\e61e";
}

.icon-a-2-3d:before {
  content: "\e626";
}

.icon-huizhi:before {
  content: "\e624";
}

.icon-fangda:before {
  content: "\e62a";
}

.icon-suoxiao:before {
  content: "\e62b";
}

.icon-sousuo:before {
  content: "\e62c";
}

.icon-zoom-inbeifen:before {
  content: "\e62e";
}

.icon-map:before {
  content: "\e60b";
}

.icon-poumianfenxi:before {
  content: "\e61c";
}

.icon-clear:before {
  content: "\e610";
}

.icon-rizhao:before {
  content: "\e6ca";
}

