// cover some esri styles
.esri-distance-measurement-2d,
.esri-area-measurement-2d,
.esri-direct-line-measurement-3d,
.esri-area-measurement-3d,
.esri-line-of-sight {
  margin-bottom: 0;

  &__container {
    padding: 0;
  }

  &__measurement {
    border-radius: $map-border-radius;
  }

  &__settings,
  &__actions,
  &__hint,
  &__panel--error {
    padding: 0;
  }
}

.esri-ui-inner-container {
  top: 5px !important;
  left: 5px !important;
  right: 5px !important;
  bottom: 5px !important;
}

.esri-button {
  background: $primary-color;
  border-color: $primary-color;
  border-radius: $map-border-radius;
  min-height: 40px;
  color:  #ffffff;

  &:hover {
    background: $primary-color;
    border-color: $primary-color;
    color:  #ffffff;
  }

  &:focus {
    outline: none;
  }
  &--secondary {
    background: #fff;
    color: $primary-color;
  }
}



.esri-input{
  border: var(--el-input-border, var(--el-border-base));
  height: 40px;
  line-height: 40px;
  border-radius: var(--el-input-border-radius, var(--el-border-radius-base));
}

.esri-widget *:focus-visible, .esri-widget *:focus{
  outline: none;
  border-color: var(--el-input-focus-border, var(--el-color-primary));
}

.esri-select {
  border-radius: $map-border-radius;
  min-height: 40px;
  padding-left: 10px !important;
}

.esri-sketch {
  &__button {
    border-radius: $map-border-radius;

    &.esri-sketch__button--selected {
      background: $primary-color;

      &:hover {
        background: $primary-color;
      }
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__info-panel {
    border-radius: $map-border-radius;
  }

  &__feature-count-badge {
    border-bottom: none;
  }

  &__menu {
    &-item {
      box-shadow: none;
    }
    &-content {
      min-height: auto;
    }
  }

  &__action-toggle--on {
    .esri-sketch__item-action-icon {
      background: $primary-color;
      box-shadow: none;
    }
  }
}

.esri-slice {
  &__container {
    padding: 0;
  }

  &__settings,
  &__actions,
  &__hint {
    padding: 0;
  }

  &__settings {
    li {
      background: #eeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      padding-bottom: 0;
      margin-bottom: 10px;
      border-radius: $map-border-radius;
    }
  }

  &__cross {
    top: 0;
  }
}

.esri-select {
  &:focus {
    outline: none;
  }
}

.esri-elevation-profile {
  padding: 0;

  &-legend-item {
    &__collapse-toggle__icon {
      &.esri-icon-down {
        color: #fff;
      }
    }
  }
}

.esri-daylight .esri-daylight__container .esri-daylight__play-pause-button {
  min-height: 35px;
}

.esri-swipe--vertical,
.esri-swipe--horizontal {
  .esri-swipe__container {
    outline: none;
  }
}


.esri-bookmarks__authoring-actions .esri-bookmarks__authoring-delete-button{
  color: #ffffff;
  padding: 0 20px;
}

.esri-button.esri-button--tertiary.esri-bookmarks__authoring-cancel-button{
  margin-right: 10px;
}