.more-utils-container {
  position: absolute;
  top: 0;
  right: 55px;
  background: #fff;
  overflow: hidden;
  border-radius: $map-border-radius;
  box-shadow: $map-box-shadow;
  z-index: 999;
  padding: 8px 12px;
  width: 330px;
}

.more-util-list {
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 12px;
    color: #888;
    margin-top: 10px;
  }

  &-item {
    width: 48px;
    margin: 8px;
    cursor: pointer;
    text-align: center;
    position: relative;

    &.is-active {
      color: $primary-color;
    }

    &.is-disabled {
      cursor: not-allowed;

      .more-util-list-item__icon,
      .more-util-list-item__name {
        color: #c7c7c7;
      }
    }

    &.is-active {
      .util-list-item__icon,
      .util-list-item__name {
        color: $primary-color;
      }
    }

    &:nth-child(5n + 1) {
      margin-left: 0;
    }

    &:nth-child(5n) {
      margin-right: 0;
    }

    &__icon {
      background: #f5f5f5;
      border-radius: $map-border-radius;
      padding: 4px 0;
    }

    &__name {
      margin-top: 5px;
      font-size: 12px;
    }
  }
}

.general-utils-container {
  border-bottom: 1px solid #eee;
}
