// base color
$primary-color: var(--primaryColor, #168bf2);
$blue: #168bf2;
$light-blue: #3a71a8;
$red: #e42b2b;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$dark-gray: #888;
$light-gray: #eee;
$border: 1px solid #e6ebf5;
$header-height: 56px;
$bottom-height: 24px;
$map-border-radius: 4px;
$map-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);